{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block main %}

	<ul>
		{% for book in books %}
			<li>
				{{ book.title}}
				<a href="{{ path("search_bookId", {"id": book.id}) }}">(See details)</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
