{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block body %}

	<ul>
		<a href="{{ path("app_book_index") }}">Books</a>
		<a href="{{ path("app_editor_index") }}">Editors</a>
		<a href="{{ path("app_author_index") }}">Authors</a>
	</ul>
{% endblock %}
