{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block main %}

	<ul>
		{% for book in books %}
			<li>
				{{ book.title}}
				(<a href="{{ path("search_bookId", {"id": book.id}) }}">See</a>
				|
				<a href="{{ path("delete_book", {"id": book.id}) }}">Delete</a>
				)
			</li>
		{% endfor %}
	</ul>
{% endblock %}
